body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

.logo-container {
    margin-right: 10px;
}

header {
    background-color: #000000;
    color: #fff;
    padding: 10px;
    align-items: center;
    display: flex;
}

header h1 {
    margin: 0;
    align-items: center;
}

.logo{
    float: left;
}

nav .logo img{
    width:auto;
    height: 50px;
}

nav {
    background-color: #555;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 1em;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #555;
}

section {
    text-align: center;
    margin: 2em 0;
    padding: 2em;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.alt-bg {
    background-color: #0000F;
}

section h2 {
    color: #333;
}

section p {
    color: #555;
}

section ul, section ol {
    color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
