* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

.logo-container {
    margin-right: 10px;
}

/* Header/logo Title */
.header {
  padding: 10px;
  text-align: center;
  background: #000000;
  color: white;
  margin-bottom: 0;
}

header h1 {
    margin: 0;
    align-items: center;
}

.logo{
    float: left;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav .logo img{
    width:auto;
    height: 50px;
}

.navbar{
  z-index: 10;
  background-color: #333;
  position: sticky;
  position: -webkit-sticky;
  top: 0; 
  margin: 0;
}
			
.navbar ul{
	list-style: none;
	display:flex;
	width:100%;
	justify-content: center;
}
			
.navbar ul li{
	margin: 0 1rem;
	padding: 1rem;
}
			
.navbar ul li a{
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 599;
	color: white;
}
			
.navbar ul li a::after{
	position: absolute;
	bottom: -3px;
	left:0;
	content:'';
	width: 0;
	height: 3px;
	transition: all 0.2s linear;
}
			
.navbar ul li a:hover::after{
	width:100%;
	background-color: #f4f4f4;
}
.dropdown {
	position: relative;
    float: left;
}

.dropdown .dropbtn {
    cursor: pointer;
}

.dropdown-content {
	z-index: 100;
    display: none;
    position: absolute;
    background-color: #333; 
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}

.dropdown-content a {
    float: none;
    color: black; /* Your desired dropdown text color */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	z-index: 100; 
    text-align: center;
	padding: 15px;
}

.dropdown-content a:hover {
    background-color: #ddd; /* Your desired hover color */
}

.dropdown:hover .dropdown-content {
    display: block;
}

section {
	z-index: 1;
    margin: 2em 0;
    padding: 2em;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.alt-bg {
    background-color: #0000F;
}

section h2 {
    color: #333;
}

section p {
    color: #555;
}

section ul, section ol {
    color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: left;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
	z-index: 2;
}